<!DOCTYPE html>
<html>
    <head>
        <title>CuriousFeed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><a href="{{url_for('Home') }}">CuriousFeed</a></h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('Home') }}">Home</a></li>
            <li><a href="{{ url_for('Video') }}">Video</a></li>
            <li><a href="{{ url_for('Book') }}">Book</a></li>
            <li><a href="{{ url_for('Podcast') }}">Podcast</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {% block video %}
        {% endblock %}
    </div>
    <div class="container">
        {% block podcast %}
        {% endblock %}
    </div>
    <div class="container">
        {% block book %}
        {% endblock %}
    </div>
  </body>
</html>