{% extends "layout.html" %}
{% block content %}

<table class="table bg-light rounded border border-dark">
    <!-- Table headers -->
        <thead>
            <tr>    
            <th scope="col">Category</th>
            <th scope="col">Keywords</th>
            <th scope="col">Link / ISBN</th>
            <th scope="col">Reason</th>
            <th scope="col">Approved</th>
            </tr>
        </thead>
          
    <!-- For loop logic of jinja template -->
    {% for item in content %}
      
    <!-- table rows -->
    <tr>        
        <td>{{item.category}}</td>
        <td>{{item.title}}</td>
        <td><a href="{{item.link}}">{{item.link}}</a></td>
        <td>{{item.reason}}</td>
        <td>{{item.approved}}</td>
        <td><a href="/edit/{{item.content_id}}" class="btn btn-outline-info">switch</a></td>
        <td><a href="/delete/{{item.content_id}}" class="btn btn-outline-danger">delete</a></td>        
      
    {% endfor %}
      
    </tr>
      
    </table>


 {% endblock %}