{% extends "layout.html" %}
{% block content %}
   <div class="pl-2 pt-2 mb-3 bg-light border-start rounded border-warning border-5 p-5">
    <h1>Todays book</h1>
      <div class="row">
    <div class="col-md-4">
        Kindle preview:
        <br>
        <iframe class="embed-responsive-item" type="text/html" width="336" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="{{ book.link }}" ></iframe>
        <br>
        <a href="https://www.thalia.de/suche?filterPATHROOT=c2&sq={{ isbn }}" target="_blank" rel="noopener noreferrer">You'd rather support a local book shop like Thalia? Find the book here</a>
    </div>



    <div class="col-md-6">
      <br>
      <p><b>{{ data.Title }}</b> by {{ data.Author }}</p>
      <p>Keywords: {{ book.title }}</p>
      <blockquote class="blockquote border border-warning rounded p-2">
        <p>{{book.reason}}</p>
        <footer class="blockquote-footer">{{book.recommended_by_name}}, {{book.recommended_by_age}}</footer>
      </blockquote>
    </div>
    
   </div>

   </div>
   <a href="{{ url_for('Submit') }}"><div class="btn btn-warning zoom">Submit your media</div></a>
 {% endblock %}