{% extends "layout.html" %}
{% block content %}
<div class="row">
  <a href="{{ url_for('Video') }}" class="pt-5 col-sm border border-info m-3 text-center btn btn-info zoom"  style=" height: 250px; border-radius: 21px 21px 21px 21px;">
    <h1>Video</h1>
    <p class="lead">Your daily dose of youtube's finest.</p>
   </a>
  <a href="{{ url_for('Podcast') }}" class="pt-5 col-sm border border-success m-3 text-center btn btn-success zoom" style=" height: 250px; border-radius: 21px 21px 21px 21px;">
    <h1>Podcast</h1>
    <p class="lead">Expand your horizon with exciting podcasts.</p>
  </a>

  <a href="{{ url_for('Book') }}" class="pt-5 col-sm border border-warning m-3 text-center btn btn-warning zoom" style=" height: 250px; border-radius: 21px 21px 21px 21px;">
    <h1>Book</h1>
        <p class="lead">Read what other curious people recommend.</p>
    </a>
  </div>   
 <div class="row">
  <a href="{{ url_for('Submit') }}"><div class="offset-md-4 col-4 justify-content-center btn btn-primary mt-3 mb-3 zoom">Submit your media</div></a>
 </div>

{% endblock %}

