{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1><a href="{{ url_for('Video') }}">Todays Video</a></h1>
    <p>Craftfully chosen, outside your own algorithm bubble</p>
  </div>

  <div class="home">
    <h1><a href="{{ url_for('Podcast') }}">Todays podcast episode</a></h1>
    <p>Craftfully chosen, outside your own algorithm bubble</p>
  </div>

  <div class="home">
    <h1><a href="{{ url_for('Book') }}">Todays book</a></h1>
    <p>Craftfully chosen, outside your own algorithm bubble</p>
  </div>
  <div class="btn btn-outline-info"><a href="{{ url_for('Submit') }}">Submit your media</a></div>
{% endblock %}

