{% extends "layout.html" %}
{% block content %}
  <div class="home_page">
  <a href="{{ url_for('Video') }}" class="pt-5 col-md-4 border border-info m-3 text-center btn btn-info zoom" style="width: 35%; height: 300px; border-radius: 21px 21px 21px 21px;">
    <h1>Video</h1>
    <p class="lead">Your daily dose of youtube's</p>
    <p class="lead align-top">finest.</p>
  </a>

  <a href="{{ url_for('Podcast') }}" class="pt-5 col-md-4 border border-success m-3 text-center btn btn-success zoom" style="width: 35%; height: 300px; border-radius: 21px 21px 21px 21px;">
    <h1>Podcast</h1>
    <p class="lead">Expand your horizon with</p>
    <p class="lead">exciting podcasts.</p>
  </a>

  <a href="{{ url_for('Book') }}" class="pt-5 col-md-4 border border-warning m-3 text-center btn btn-warning zoom" style="width: 35%; height: 300px; border-radius: 21px 21px 21px 21px;">
    <h1>Book</h1>
        <p class="lead">Read what other curious</p>
        <p class="lead">people recommend.</p>
    </a>
  </div>

  
  <a href="{{ url_for('Submit') }}"><div class="center-block btn btn-primary mt-3 zoom" style="width: 20%;">Submit your media</div></a>


{% endblock %}

