{% extends "layout_count.html" %}
{% block content %}

<blockquote class="blockquote p-2 rounded bg-light bg-opacity-75">
    <p>"Accountability for your daily carbon footprint. As simple as your phone's step tracker just for tracking your carbon footprint."</p>
    <footer class="blockquote-footer">Our vision</footer>
  </blockquote>

<div class="row">
    <a href="https://calendly.com/projectcount/interview-app" target="_blank" rel="noopener noreferrer"><div class="offset-md-4 col-4 justify-content-center btn btn-info mt-3 mb-3 zoom">Get involved!</div></a>
</div>

{% endblock %}

