<!doctype html>
<html lang="en">
    <head>

        <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
        <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed.png">

        <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
        <link rel="icon" href="static/favicon.png">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        <title>CuriousFeed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    </head>
  <body class="background_img">

    <div class="d-flex flex-column min-vh-100">


    
    <header class="d-flex flex-row flex-wrap py-3">
        <div class="row">
        <h1 class="logo"><a style="color:white" href="{{url_for('Home') }}">CuriousFeed (beta)</a></h1>
        </div>
        <!--
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('Home') }}">Home</a></li>
            <li><a href="{{ url_for('Video') }}">Video</a></li>
            <li><a href="{{ url_for('Book') }}">Book</a></li>
            <li><a href="{{ url_for('Podcast') }}">Podcast</a></li>
          </ul>
        </nav></strong>
        -->
      
    </header>
    <div class="container-fluid flex-grow-1">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}     
        {% endblock %}
    </div>
    


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    
 
    <footer class="text-center text-lg-start bg-light text-muted">
      <div class="text-center p-4 justify-content-end" style="background-color: rgba(0, 0, 0, 0.05);">
        <div class="row"> 
        <p class="col-4"></p>      
        <a class="text-reset fw-bold col-4" href="{{url_for('Impressum')}}">Impressum</a>
        <a class="text-reset text-end fw-bold col-4 " href="{{url_for('Feedback_form')}}">Suggestions?</a>
        </div> 
      </div>
    </footer>
  </div>
  </body>
</html>