{% extends "layout.html" %}
{% block content %}
   <div class="pl-2 pt-2 mb-3 bg-light border-start rounded border-success border-5 p-5">
     <h1>Todays podcast episode</h1>
     <iframe class="embed-responsive-item" src="{{ podcast.link }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     <p>Keywords: {{ podcast.title }}</p>
     
     <blockquote class="blockquote border border-success rounded p-2">
      <p>{{podcast.reason}}</p>
      <footer class="blockquote-footer">{{podcast.recommended_by_name}}, {{podcast.recommended_by_age}}</footer>
    </blockquote>

    </div>
    <a href="{{ url_for('Submit') }}"><div class="btn btn-success zoom">Submit your media</div></a>
 {% endblock %}