{% extends "layout.html" %}
{% block content %}
   <div class="content_section">
       <form method="POST" action="">
           {{ form.hidden_tag() }}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Submit your media</legend>
               <div class="form-group">
                   {{ form.title.label(class= "form-control-label") }}

                   {% if form.title.errors %}
                     {{ form.title(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                         {% endfor %}
                     </div>
                   {% else %}
                        {{ form.title(class= "form-control form-control-lg") }}
                   {% endif %}
                 
               </div>
               <div class="form-group">
                {{ form.category.label(class= "form-control-label") }}

                {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category(class= "form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-group">
                    {{ form.link.label(class= "form-control-label") }}
                    {% if form.category.data == "Video" %}
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="The URL needs to of form https://www.youtube.com/watch?v=XXXXX or https://youtu.be/XXXXX or https://www.youtube.com/embed/XXXXX">?</button>                 
                    {% elif form.category.data == "Podcast" %}
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="The URL needs to of form https://open.spotify.com/episode/XXXXXXXXXXX">?</button>
                    {% elif form.category.data == "Book" %}
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="The ISBN needs to 10 or 13 digits. Dashes and blank spaces are ignored. Valid examples: 978-1471156267 or 978-1-4711-5626-7 or 1471156265">?</button>    
                    {% endif %}                    
                        {% if form.link.errors %}
                        {{ form.link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.link(class= "form-control form-control-lg") }}
                    {% endif %}
                </div>
           </fieldset>
           <div class="form-group">
               {{ form.submit(class="btn btn-outline-info") }}
           </div>
       </form>
    
   </div>
 {% endblock %}