{% extends "layout.html" %}
{% block content %}
   <div class="pl-2 pt-2 mb-3 bg-light border-start rounded border-info border-5 p-5">
     <h1>Todays Video</h1>   
     
     <div class="row m-1">
        <div class="col-md-5 ratio ratio-16x9">
          <iframe class="embed-responsive-item" frameborder="0" src='{{video.link}}'></iframe>
        </div>
        
      </div>
      <p>Keywords: {{ video.title }}</p>

      <div class="col-md-auto m-1">
        <blockquote class="blockquote border border-info p-2 rounded">
          <p>{{video.reason}}</p>
          <footer class="blockquote-footer">{{video.recommended_by_name}}, {{video.recommended_by_age}}</footer>
        </blockquote>
      </div>   
  </div>
  <a href="{{ url_for('Submit') }}"><div class="btn btn-info zoom mb-3">Submit your media</div></a> 
 {% endblock %}